<!DOCTYPE html>
<html lang="en">

<head>
	<title>This is Jeopardy!</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'jeopardy/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	
	<style type="text/css">
		html,
		body {height:95%}
	</style>
</head>

<body class="body" style="background-color:#F4F6F7; ">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row">
			  <div class="col-sm-">
				  <br>
				  <center>
					<img src="{% static 'jeopardy/img/logo.png' %}" class="responsive-img" style='max-height:100px;' alt="face">
				  </center>
			  </div>

		</div><hr>
		
		<div class="w3-container">
			<h1 class="text-center"><a href="/jeopardy/jeopardy/">Jeopardy Round</a> | 
				<a href="/jeopardy/doublejeopardy/">Double Jeopardy Round</a> | 
				<a href="/jeopardy/finaljeopardy/">Final Jeopardy Round</a></h1> 

		</div>
			<div class='container-fluid' style="max-width:95%; ">
			<br><br>
			   {% block content %}
			   {% endblock %}	
			</div>
		  </div>
		</div> 
	</div>
	<footer>
	</footer>	
	
</body>

</html>